.header-color{
  background-color :black;  /* fallback for old browsers */

}

.Accueil-grid{
  background: #FFA17F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("https://www.pentalog.fr/wp-content/uploads/2019/07/D%C3%A9veloppement-Applications-Mobiles.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;

  width: 100%;
  height: 100%;
}

.avatar-image{
  height: 250px;
  padding-top: 15em;
}

.competences-text{
  background-color: black;
  opacity: .6;
  margin: auto;
  width: 75%;
  border-radius: 10px;
}

.competences-text h1{
  font-weight: bold;
  font-size: 66px;
  color: white
}

.competences-text h3{
  font-weight: bold;
  font-size: 50px;
  color: white
}

.competences-text hr{
  border-top: 5px dotted white;
  margin: auto;
  width: 50%;
}

.competences-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.liens-reseaux-sociaux{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.liens-reseaux-sociaux i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projet-grid {
  
  background-image: url("https://www.pentalog.fr/wp-content/uploads/2019/07/D%C3%A9veloppement-Applications-Mobiles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;

}

.contact-body{
  margin: auto;
  position: fixed;
  width: 110%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://image.freepik.com/free-photo/business-man-using-smart-phone-office-space-background-copy-space_7191-620.jpg")
  

}

.contact-grid{
  
  text-align: center;
  justify-content: center;
  height: 550%;
  width: 80%;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.presentation-right-col {
  background: #EDE7E6;
  color: black;
  padding: 2em;
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}